*{
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
    overflow-x: hidden;
}
#logo{
    position: relative;
    top: 0;
    right: 7cm;
    margin: 0;
}

 header{
    margin: 0px;
    display: flex;
    max-height: 80px;
    justify-content: space-between ;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

header{
    margin: 0%;
    position: fixed;
    width: 100%;
    top:0;
    height: 80px;
    background-color: black;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}
header a {
    text-decoration: none; 
    color: #fcf6f6; 
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}
header a {
    margin-right: 80px;
}
.scroll-active{
    background: transparent;
}
#h-d{
    position: relative;
    left: 6cm;
    width: 100px;
    height: 40px;
    font-size: 19px;
    color: white;
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;  
    cursor: pointer; 
}
main{
    padding-top: 0px;
    margin-top: 0px;
    background-color: black;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#title{
    position: relative;
    left: 11cm;
    bottom: 11cm;
    font-size: 70px;
    color: rgb(0, 170, 255);
}
.Contact{
    height: 17cm;
    position: relative;
}
#C-p{
    text-align: center;
    font-size: 1.25rem;
}
.C-form{
    margin-top: 35px;
    position: relative;
    left: 8cm;
}
.C-form form input{
    margin-top: 25px;
    width: 170px;
    height: 0.8cm;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
}
.C-form form select{
    margin-top: 25px;
    width: 200px;
    height: 1cm;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
}
.C-form form textarea{
    margin-top: 25px;
    width: 370px;
    height: 3.5cm;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
}
#C-h2{
    color: rgb(15, 79, 157);
    font-style: Georgia, serif;
}
#C-b{
    margin-top: 45px;
    background-color: rgb(16, 104, 212);
    width: 100px;
    height: 40px;
    font-size: 19px;
    border-radius: 10px;
    border: 1px solid gray;
    color: white;
    cursor: pointer;
    position: relative;
    left: 3.5cm;
}
.info{
    position: relative;
    left: 24cm;
    bottom: 13.5cm;
}
.I-p{
    margin-top: 25px;
    font-size: 1.25rem;
    font-style: Georgia, serif;
    font-weight: 500;
    line-height: 1.5;
}
#I-h2{
    color: rgb(15, 79, 157);
    font-style: Georgia, serif;
}
.info a{
    text-decoration: none;
    color: rgb(16, 104, 212);
}
.info a:hover{
    text-decoration: underline;
}
iframe{
    margin-top: 25px;
    border-radius: 15px;
}
.footer{
    background-color: #1b1b1b;
    width: 100%;
    height: 7cm;
    position: relative;
    margin-top: 0px;
}
.Fcontainer{
    position: relative;
}
.First-div{
    position: absolute;
    left: 4.5cm;
}
.First-div img{
    margin-top: 25px;
    margin-bottom: 20px;
}
.First-div p{
    font-weight: 400;
    color: white;
}
.First-div a{
    text-decoration: none;
    color: white;
}
.First-div a:hover{
    text-decoration: none;
    color: rgb(36, 94, 230);
}
.Second-div{
    position:absolute;
    left: 16.5cm;
    margin-top: 25px;
}
.Second-div h3{
    font-style: Georgia, serif;
    color: #f2f2f2;
    padding-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.Second-div a{
    text-decoration: none;
    color: #f2f2f2;
}
.Second-div a:hover{
    text-decoration: none;
    color: rgb(36, 94, 230);
}
.Third-div{
    position:absolute;
    left: 26.5cm;
    margin-top: 25px;
}
.Third-div h3{
    font-style: Georgia, serif;
    color: #f2f2f2;
    padding-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.Third-div a{
    text-decoration: none;
    color: #f2f2f2;
}
.Third-div a:hover{
    text-decoration: none;
    color: rgb(36, 94, 230);
}
.Fourth-div{
    position:absolute;
    left: 16.5cm;
    margin-top: 219px;
}
.Fourth-div h4{
    font-style: Georgia, serif;
    color: #f2f2f2;
    padding-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}